.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  font-family: Pristina;
  font-style: italic;
  color: #FF4D00;
  font-size: 30px;

  .paper-shadow {
    box-shadow: 50px 10px 20px 0 rgba(0, 0, 0, 0.26);
  }
}




