.post-add {

  margin-bottom: 50px;
  margin-left: 25%;
  background-color: rgb(252, 252, 252);
  width: 50%;
  /* max-width: 300px; */
  margin-bottom: 50px;
  float: left;
  height: auto;
  margin-top: 2%;

  }

  .example-form {
    min-width: 80%;
    max-width: 80%;
    width: 100%;
    margin-left: 20%;
    color: black;
    margin-top: 5%;
  }

  .example-full-width {
    width: 80%;
  }
.background-two{
  height:780px;
  // background-image:url("");

}
