.background{
  height:780px;
  background-image:url("/src/assets/image/undraw_online_.svg");
  background-size:cover;

}
.background-two{
  height:780px;
  // background-image:url("");
  background-image:url(/assets/image/undraw_online_.svg);

  background-size:cover;
}


.login {

  margin-bottom: 50px;
  margin-left: 5%;
  background-color: rgb(252, 252, 252);
  width: 34%;
  /* max-width: 300px; */
  margin-bottom: 50px;
  float: left;
  height: auto;
  margin-top: 5%;

  }


  .register {
    margin-bottom: 50px;
    margin-top: 5%;
    margin-left: 9%;
    background-color: rgb(255, 255, 255);
    width: 34%;
    /* max-width: 300px; */
    margin-bottom: 50px;
    float: left;
    height: auto;


  }

  .example-form {
    min-width: 80%;
    max-width: 80%;
    width: 100%;
    margin-left: 15%;
    color: black;
    margin-top: 5%;
  }

  .example-full-width {
    width: 80%;
  }
