.new-product-card {

  margin-bottom: 50px;
  margin-left: 2%;
  background-color: white;
  width: 12%;


  max-width: 300px;
  margin-bottom: 50px;
  float:left;
  height: auto;

  }


  .new-product-card-content{
    background-color: white;
    color: black;
  }
  .new-product-card-price{
  color:rgb(0, 0, 0); margin-left: 47%
  }
  .new-product-card-price-add{
      color:rgb(255, 255, 255);
     margin-left: 17%;
     background-color: #30ADC1;

  }
  .new-product-card-image{
    height: 158px;

  }

